.has-error{
	color:red;
}

.success{
  position:fiexd;
  width:50%;
  margin-left: 50px;
  margin-top:20px;
  padding: 20px;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

html, body {
  margin: 0;
  padding: 0;
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

